// Lembra
// by Fabio Haag
// @link http://fabiohaagtype.com

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-Regular.eot'); // IE9 Compat Modes
  src: url('../fonts/Lembra-Regular.woff2') format('woff2'), // Super Modern Browsers
       url('../fonts/Lembra-Regular.woff') format('woff'); // Legacy iOS
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-Italic.eot');
  src: url('../fonts/Lembra-Italic.woff2') format('woff2'),
       url('../fonts/Lembra-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-Light.eot');
  src: url('../fonts/Lembra-Light.woff2') format('woff2'),
       url('../fonts/Lembra-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-LightItalic.eot');
  src: url('../fonts/Lembra-LightItalic.woff2') format('woff2'),
       url('../fonts/Lembra-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-Medium.eot');
  src: url('../fonts/Lembra-Medium.woff2') format('woff2'),
       url('../fonts/Lembra-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-MediumItalic.eot');
  src: url('../fonts/Lembra-MediumItalic.woff2') format('woff2'),
       url('../fonts/Lembra-MediumItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-Bold.eot');
  src: url('../fonts/Lembra-Bold.woff2') format('woff2'),
       url('../fonts/Lembra-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-BoldItalic.eot');
  src: url('../fonts/Lembra-BoldItalic.woff2') format('woff2'),
       url('../fonts/Lembra-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-XBold.eot');
  src: url('../fonts/Lembra-XBold.woff2') format('woff2'),
       url('../fonts/Lembra-XBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-XBoldItalic.eot');
  src: url('../fonts/Lembra-XBoldItalic.woff2') format('woff2'),
       url('../fonts/Lembra-XBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-Black.eot');
  src: url('../fonts/Lembra-Black.woff2') format('woff2'),
       url('../fonts/Lembra-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lembra';
  src: url('../fonts/Lembra-BlackItalic.eot');
  src: url('../fonts/Lembra-BlackItalic.woff2') format('woff2'),
       url('../fonts/Lembra-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}